# Git ignore file, 2015-12-05

.venv
.DS_Store
*.swp

# Python binaries
*.pyc
*.egg-info

# IntelliJ
.idea
*.iml

# Eclipse
.project
.classpath
.settings/

# Build and binary directories
build/
dist/
target/
lib/
